@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  font-family: var(--main-font);
}
:root {
  --main-font: "Poppins", sans-serif;
  --theme-orange: "#eaa636";
}
.cover {
  background-color: #0000008e;
  height: 100%;
  width: 100%;
  /* padding: 2rem; */
}
.hero_cover {
  background-color: #00000047;
}
.team .mainheading,
.practice_areas .mainheading {
  color: #1a1a1a;
}
.value_row {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
/* .input_box {
  width: 100%;
  max-width: 100%;
} */
